@page "/authorize/login"
@inject AuthService AuthService


<PageTitle>Страница авторизации</PageTitle>
<div class="auth-form__owner">
    <EditForm class="custom-form" Model="@loginModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator  />

        <div class="custom-form-group">
            <InputTextBox @bind-Value="loginModel.Username" Placeholder="Введите логин"></InputTextBox>
            <ValidationMessage For="@(() => loginModel.Username)"></ValidationMessage>
        </div>
        <div class="custom-form-group">

            <InputTextBox @bind-Value="loginModel.Password" Placeholder="Введите пароль"></InputTextBox>
            <ValidationMessage For="@(() => loginModel.Password)"></ValidationMessage>
        </div>

        <NavLink href="/authorize/admin-info">
            <div class="auth-form-question">
                <MudIcon Icon="@Icons.Material.Filled.QuestionMark" Class="auth-form-question__icon"></MudIcon>
                <span class="auth-form-question__text">
                    Хотите стать администратором?
                </span>

            </div>    
        </NavLink>

        <button class="custom-button custom-button-red" disabled="@IsLoaded" type="submit">
            @if (IsLoaded)
            {
                <div class="loader loader--white"></div>
            }
            else
            {
                <span>Войти</span>
            }
        </button>
        <div class="line-separate">
            или
        </div>
        <div class="auth-form-kubsau" @onclick="() => PopoverOpen=!PopoverOpen">
            <div class="custom-button custom-button-thin custom-button-thin--green auth-form-kubsau__inner">
                <MudImage Src="/images/kubsau-logo.png" Width="45"></MudImage>
                <span class="auth-form-kubsau__text">
                    Студентам КубГАУ
                </span>
            </div>

            <MudPopover Style="border-radius:10px;" Open="@PopoverOpen" Class="px-4 pt-4" TransformOrigin="Origin.TopCenter" AnchorOrigin="Origin.BottomCenter" RelativeWidth="true" >
                <div>
                    <div class="auth-form-kubsau-popover">
                        <div class="auth-form-kubsau-popover__info">
                            Отправьте
                            <NavLink href="/authorize/send-request" class="auth-form-kubsau-popover__link">
                                заявку
                            </NavLink>
                            администраторам<br /> для регистрации на платформе
                        </div>

                        <MudButton OnClick="() => PopoverOpen = false" Class="ml-auto mr-n3 mb-1" Color="Color.Success">Закрыть</MudButton>
                    </div>
                </div>

            </MudPopover>

        </div>
    </EditForm>

</div>

    
@code {
    private LoginModel loginModel = new LoginModel();
    private bool IsLoaded = false;
    private bool PopoverOpen = false;

    private async Task HandleValidSubmit()
    {
        IsLoaded = true;
        var authResponse = await AuthService.LoginAsync(loginModel);
        if (authResponse.IsSuccessStatusCode)
        {
            Snackbar.Add("Вход в систему успешно выполнен!", Severity.Success);
            await AuthenticationStateProvider.NotifyAuthenticationStateAsync();
            Navigation.NavigateTo("/");

        }
        else
        {
            await ShowDialogAsync("Логин или пароль являются неверными!");
            IsLoaded = false;
            await InvokeAsync(() => StateHasChanged());
        }
        
        
    }

    private async Task ShowDialogAsync(string message)
    {
        var options = new DialogOptions { NoHeader=true, CloseOnEscapeKey = true };
        var parameters = new DialogParameters<Dialog>() { { x=>x.Message,message} };

        IDialogReference dialog=DialogService.Show<Dialog>(string.Empty, parameters, options);

        await dialog.Result;
    }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider
    .GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            Navigation.NavigateTo("/");
        }
    }

}
