<div class="navbar" @attributes="AttributesNavBar">
    <MudPaper Elevation="0" Height="100%" Style="background-color: #218640">
        <div class="navbar-header">
            <div class="navbar-header__inner">
                <div class="navbar-header__logo">
                    <img src="/images/logo.png" />
                </div>
                <div class="navbar-header__toggle" @onclick="ToggleNavbarAsync">
                    <img src="/icons/menu-burger.svg" />
                </div>
            </div>
        </div>
          <MudNavMenu >
            <MudNavLink Href="/" Class="navbar__item" Icon="@Icons.Material.Filled.Home" IconColor="Color.Inherit">
                Главная страница
            </MudNavLink>
            <AuthorizeView Roles="@UserRoles.Admin.ToString()">
                <MudNavLink Href="/dashboard" Class="navbar__item" Icon="@Icons.Material.Filled.Dashboard" IconColor="Color.Inherit">
                    Доска Dashboard
                </MudNavLink>
                <MudNavLink Href="/admin/requests" Class="navbar__item" Icon="@Icons.Material.Filled.FaceRetouchingNatural" IconColor="Color.Inherit">
                    Заявки от студентов
                </MudNavLink>
            </AuthorizeView>


            <AuthorizeView Roles="@string.Format("{0},{1}",@UserRoles.Student.ToString(),@UserRoles.Teacher.ToString())">
                <MudNavGroup Title="Проекты" Class="navbar__group" Icon="@Icons.Material.Sharp.Cases" IconColor="Color.Inherit">
                    <MudNavLink Href="/project" Class="navbar__item" Icon="@Icons.Material.Filled.ViewList" Color="Color.Inherit" IconColor="Color.Inherit">
                        Список
                    </MudNavLink>
                    <MudNavLink Href="/project/create" Class="navbar__item" Icon="@Icons.Material.Filled.AddBox" Color="Color.Inherit" IconColor="Color.Inherit">
                        Создать проект
                    </MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/friends" Class="navbar__item" Icon="@Icons.Material.Filled.EmojiPeople" IconColor="Color.Inherit">
                    Друзья
                </MudNavLink>
            </AuthorizeView>

            <MudNavLink Href="/account" Class="navbar__item" Icon="@Icons.Material.Filled.AccountBox" IconColor="Color.Inherit">
                Аккаунт
            </MudNavLink>

        </MudNavMenu>
        <div class="navbar-open" @onclick="ToggleNavbarAsync">
            <MudIcon Icon="@Icons.Material.Filled.ArrowForwardIos" Size="Size.Large"></MudIcon>
        </div>
    </MudPaper>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnToggleNavbar { get; set; }

    private bool OpenedNavBar { get; set; } = true;



    private async void ToggleNavbarAsync(MouseEventArgs e)
    {
        OpenedNavBar = !OpenedNavBar;
        await OnToggleNavbar.InvokeAsync(OpenedNavBar);
    }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object?> AttributesNavBar { get; set; } = new();

}
